[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
gradio = "*"
elevenlabs = "*"
playsound = "==1.2.2"
speechrecognition = "*"
pydub = "*"
python-dotenv = "*"
pandas = "*"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.13"
